body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f9;
}

.container {
  padding: 20px;
}

.title {
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
}

ul {
  padding-left: 20px;
}